TimerWindowsService/Service References/AutoTaskService/AutoTask.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StartTask">
        <s:complexType />
      </s:element>
      <s:element name="StartTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartTaskResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteAutoBackUp">
        <s:complexType />
      </s:element>
      <s:element name="ExcuteAutoBackUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcuteAutoBackUpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartTaskSoapIn">
    <wsdl:part name="parameters" element="tns:StartTask" />
  </wsdl:message>
  <wsdl:message name="StartTaskSoapOut">
    <wsdl:part name="parameters" element="tns:StartTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteAutoBackUpSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteAutoBackUp" />
  </wsdl:message>
  <wsdl:message name="ExcuteAutoBackUpSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteAutoBackUpResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoTaskSoap">
    <wsdl:operation name="StartTask">
      <wsdl:input message="tns:StartTaskSoapIn" />
      <wsdl:output message="tns:StartTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteAutoBackUp">
      <wsdl:input message="tns:ExcuteAutoBackUpSoapIn" />
      <wsdl:output message="tns:ExcuteAutoBackUpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoTaskSoap" type="tns:AutoTaskSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartTask">
      <soap:operation soapAction="http://tempuri.org/StartTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteAutoBackUp">
      <soap:operation soapAction="http://tempuri.org/ExcuteAutoBackUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoTaskSoap12" type="tns:AutoTaskSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartTask">
      <soap12:operation soapAction="http://tempuri.org/StartTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteAutoBackUp">
      <soap12:operation soapAction="http://tempuri.org/ExcuteAutoBackUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoTask">
    <wsdl:port name="AutoTaskSoap" binding="tns:AutoTaskSoap">
      <soap:address location="http://localhost:4239/WebService/AutoTask.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoTaskSoap12" binding="tns:AutoTaskSoap12">
      <soap12:address location="http://localhost:4239/WebService/AutoTask.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>