TestWebService/Service References/ServiceReference1/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="fun1">
        <s:complexType />
      </s:element>
      <s:element name="fun1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun1Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_assetheader" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_assetExpression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun2Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_table">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun3">
        <s:complexType />
      </s:element>
      <s:element name="fun3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun3Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_storeSiteheader" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_storeSiteExpression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun4Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_table">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_class" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun5Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_labelStyle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun6">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_class" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_labelStyle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fun6Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fun1SoapIn">
    <wsdl:part name="parameters" element="tns:fun1" />
  </wsdl:message>
  <wsdl:message name="fun1SoapOut">
    <wsdl:part name="parameters" element="tns:fun1Response" />
  </wsdl:message>
  <wsdl:message name="fun2SoapIn">
    <wsdl:part name="parameters" element="tns:fun2" />
  </wsdl:message>
  <wsdl:message name="fun2SoapOut">
    <wsdl:part name="parameters" element="tns:fun2Response" />
  </wsdl:message>
  <wsdl:message name="fun3SoapIn">
    <wsdl:part name="parameters" element="tns:fun3" />
  </wsdl:message>
  <wsdl:message name="fun3SoapOut">
    <wsdl:part name="parameters" element="tns:fun3Response" />
  </wsdl:message>
  <wsdl:message name="fun4SoapIn">
    <wsdl:part name="parameters" element="tns:fun4" />
  </wsdl:message>
  <wsdl:message name="fun4SoapOut">
    <wsdl:part name="parameters" element="tns:fun4Response" />
  </wsdl:message>
  <wsdl:message name="fun5SoapIn">
    <wsdl:part name="parameters" element="tns:fun5" />
  </wsdl:message>
  <wsdl:message name="fun5SoapOut">
    <wsdl:part name="parameters" element="tns:fun5Response" />
  </wsdl:message>
  <wsdl:message name="fun6SoapIn">
    <wsdl:part name="parameters" element="tns:fun6" />
  </wsdl:message>
  <wsdl:message name="fun6SoapOut">
    <wsdl:part name="parameters" element="tns:fun6Response" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="fun1">
      <wsdl:input message="tns:fun1SoapIn" />
      <wsdl:output message="tns:fun1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun2">
      <wsdl:input message="tns:fun2SoapIn" />
      <wsdl:output message="tns:fun2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun3">
      <wsdl:input message="tns:fun3SoapIn" />
      <wsdl:output message="tns:fun3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun4">
      <wsdl:input message="tns:fun4SoapIn" />
      <wsdl:output message="tns:fun4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun5">
      <wsdl:input message="tns:fun5SoapIn" />
      <wsdl:output message="tns:fun5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun6">
      <wsdl:input message="tns:fun6SoapIn" />
      <wsdl:output message="tns:fun6SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fun1">
      <soap:operation soapAction="http://tempuri.org/fun1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun2">
      <soap:operation soapAction="http://tempuri.org/fun2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun3">
      <soap:operation soapAction="http://tempuri.org/fun3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun4">
      <soap:operation soapAction="http://tempuri.org/fun4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun5">
      <soap:operation soapAction="http://tempuri.org/fun5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun6">
      <soap:operation soapAction="http://tempuri.org/fun6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fun1">
      <soap12:operation soapAction="http://tempuri.org/fun1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun2">
      <soap12:operation soapAction="http://tempuri.org/fun2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun3">
      <soap12:operation soapAction="http://tempuri.org/fun3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun4">
      <soap12:operation soapAction="http://tempuri.org/fun4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun5">
      <soap12:operation soapAction="http://tempuri.org/fun5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun6">
      <soap12:operation soapAction="http://tempuri.org/fun6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:4239/WebService/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:4239/WebService/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>